@{
    ViewData["Title"] = "LocationApp";
}

<div>
    <select id="CountryDropdown" >
        <option value="">Select Country</option>
    </select>

    <select id="CityDropdown">
        <option value="">Select City</option>
    </select>

    <select id="DistrictDropdown">
        <option value="">Select District</option>
    </select>
</div>
